@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  min-height: 100dvh;
  color: white;
  font-weight: 200;

  background-color: hsl(217, 67%, 54%);
  background-image: radial-gradient(
    ellipse farthest-side at left top,
    hsl(209, 61%, 77%) 0%,
    hsl(217, 67%, 54%) 100%
  );

  /* background-color: hsl(0, 3%, 15%);
  background-image: radial-gradient(ellipse farthest-side at left top, hsl(0, 2%, 47%) 0%, hsl(0, 5%, 15%) 100%); */
  font-family: "Poppins", sans-serif;
}

.weather-container {
  padding: 0 2em;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

/* 

blue sky
div {
       background-color: hsl(217, 67%, 54%);
       background-image: radial-gradient(ellipse farthest-side at left top, hsl(209, 61%, 77%) 0%, hsl(217, 67%, 54%) 100%);;
    }

black sky
  
    background-color: hsl(0, 0%, 26%);
    background-image: radial-gradient(ellipse farthest-side at left top, hsl(0, 4%, 54%) 0%, hsl(0, 0%, 26%) 100%);;

*/
